# chapter 05 리스트

In [1]:
fruits = ['사과','오렌지','딸기','포도','감','키위','키위','멜론','수박']
list1 = [5, 10.2 ,'탁구', True, [4,5,6]]
numbers = list(range(1,10,2))

print(fruits)
print(list1)
print(numbers)

print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-4:-2])
print(fruits[-3:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '키위', '멜론', '수박']
수박
['키위', '키위']
['키위', '멜론', '수박']

In [2]:
fruits = ['사과','오렌지','딸기','포도','감','키위','키위','멜론','수박']
list1 = [5, 10.2 ,'탁구', True, [4,5,6]]
numbers = list(range(1,10,2))

print(fruits)
print(list1)
print(numbers)

print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-4:-2])
print(fruits[-3:])
print(fruits[-1])
print(fruits[-1:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '키위', '멜론', '수박']
[5, 10.2, '탁구', True, [4, 5, 6]]
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '키위', '멜론', '수박']
수박
['키위', '키위']
['키위', '멜론', '수박']
수박
['수박']

In [3]:
# 5-2-1
a=['red','green','blue']
a.append('yellow')
print(a)

a.insert(1,'black')
print(a)

b=['purple','black']
a.extend(b)
print(a)

c=a+b
print(c)

['red', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'black']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'black', 'purple', 'black']

In [4]:
# 5-2-2
a=[10,20,30,40,50,60,70,80,90,100]
x=a.index(30)
print(x)

a.pop(x)
print(a)

a.remove(90)
print(a)

a.clear()
print(a)

2
[10, 20, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 40, 50, 60, 70, 80, 100]
[]

In [5]:
# 5-2-4
list2 = [-7,1,5,8,3,9,11,13]
list2.sort()    # 오름 차순(ascending order)
print(list2)

list2.sort(reverse=True)
print(list2)    # 내림 차순(descending order)

[-7, 1, 3, 5, 8, 9, 11, 13]
[13, 11, 9, 8, 5, 3, 1, -7]

In [6]:
# 5-6
fruits=['apple','orange','banana']

for fruit in fruits:
    print(fruit)

apple
orange
banana

In [7]:
# 5-7 합계와 평균
scores=[88,75,90,95,77,69,80,92]

sum=0
for score in scores:
    sum +=score
    
avg = sum/8

print('총점:%d, 평균:%.2f'%(sum,avg))

총점:666, 평균:83.25

In [8]:
#5-8 예제
animals=['토끼','거북이','사자','호랑이']

i=0
while i < len(animals):
    print(animals[i])
    
    i+=1

토끼
거북이
사자
호랑이

In [9]:
# 5-9 예제 2차원 리스트의 기본 구조
numbers = [[10,20,30],[40,50,60]]

print(numbers[0])
print(numbers[1])

print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])

print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60

In [10]:
print(len(numbers))
print(len(numbers[0]))

2
3

In [11]:
# 5-10 8명 학생의 3과목 성적의 합계/평균
scores=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],\
      [90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for i in range(len(scores)):
    sum=0
    for k in range(len(scores[i])):
        sum=sum+scores[i][k]
        
    avg=sum/len(scores[i])
    
    print('%d번재 학생의 합계 : %d, 평균 : %.2f'%(i+1,sum,avg))

1번재 학생의 합계 : 260, 평균 : 86.67
2번재 학생의 합계 : 258, 평균 : 86.00
3번재 학생의 합계 : 254, 평균 : 84.67
4번재 학생의 합계 : 254, 평균 : 84.67
5번재 학생의 합계 : 257, 평균 : 85.67
6번재 학생의 합계 : 236, 평균 : 78.67
7번재 학생의 합계 : 248, 평균 : 82.67
8번재 학생의 합계 : 258, 평균 : 86.00

In [12]:
for score in scores:
    sum=0
    for x in score:
        sum+=x
    avg=sum / len(score)
    print('합계 : %d, 평균 : %.2f'%(sum,avg))

합계 : 260, 평균 : 86.67
합계 : 258, 평균 : 86.00
합계 : 254, 평균 : 84.67
합계 : 254, 평균 : 84.67
합계 : 257, 평균 : 85.67
합계 : 236, 평균 : 78.67
합계 : 248, 평균 : 82.67
합계 : 258, 평균 : 86.00

In [13]:
# Q5-6 
s=[64,89,100,85,77,58,79,67,96,87,87,36,82,98,84,76,63,69,53,22]

count_su=0
count_woo=0
count_mi=0
count_yang=0
count_ga=0

i=0
while i < len(s):
    if s[i] >= 90 and s[i] <=100:
        count_su=count_su+1
        
    if s[i] >= 80 and s[i] <=89:
        count_woo=count_woo+1
        
    if s[i] >= 70 and s[i] <=79:
        count_mi=count_mi+1
        
    if s[i] >= 60 and s[i] <=69:
        count_yang=count_yang+1
        
    if s[i] >= 50 and s[i] <=59:
        count_ga=count_ga+1
        
    i +=1
    
print('수 : %d명'% count_su)
print('우 : %d명'% count_woo)
print('미 : %d명'% count_mi)
print('양 : %d명'% count_yang)
print('가 : %d명'% count_ga)

수 : 3명
우 : 6명
미 : 3명
양 : 4명
가 : 2명

In [14]:
#Q5-7
questions=['tr_in','b_s','_axi','air_lane']
answers=['a','u','t','p']

for i in range(len(questions)):
    q = '%s 에서 밑줄(_) 안에 들어갈 알파벳은?' % questions[i]
    ans = input(q)
    
    if ans == answers[i]:
        print('정답입니다!')
    else:
        print('틀렸습니다!')

tr_in 에서 밑줄(_) 안에 들어갈 알파벳은?a
정답입니다!
b_s 에서 밑줄(_) 안에 들어갈 알파벳은?a
틀렸습니다!
_axi 에서 밑줄(_) 안에 들어갈 알파벳은?a
틀렸습니다!
air_lane 에서 밑줄(_) 안에 들어갈 알파벳은?a
틀렸습니다!

In [15]:
#Q5-8
scores=[[96,84,80],[96,86,76],[76,95,83],[89,96,69],\
      [90,76,91],[82,66,88],[83,86,79],[85,90,83]]

i=0
while i < len(scores):
    sum=0
    j=0
    while j < len(scores[i]):
        sum=sum+scores[i][j]
        j +=1
        
    avg=sum/len(scores[i])
    print('%d번재 학생의 합계 : %d, 평균 : %.2f'%(i+1,sum,avg))
    i+=1

1번재 학생의 합계 : 260, 평균 : 86.67
2번재 학생의 합계 : 258, 평균 : 86.00
3번재 학생의 합계 : 254, 평균 : 84.67
4번재 학생의 합계 : 254, 평균 : 84.67
5번재 학생의 합계 : 257, 평균 : 85.67
6번재 학생의 합계 : 236, 평균 : 78.67
7번재 학생의 합계 : 248, 평균 : 82.67
8번재 학생의 합계 : 258, 평균 : 86.00

In [22]:
#Q5-9
scores =[]
while True:
    score=int(input('성적을 입력하세요(종료 시 -1 입력):'))
                    
    if score == -1:
        break
    else :
        scores.append(score)
                    
sum=0
for i in range(0,len(scores)):
    sum+=scores[i]
                    
avg=sum/len(scores)
                    
print('합계 : %d, 평균:%.2f'%(sum,avg))

성적을 입력하세요(종료 시 -1 입력):75
성적을 입력하세요(종료 시 -1 입력):83
성적을 입력하세요(종료 시 -1 입력):88
성적을 입력하세요(종료 시 -1 입력):93
성적을 입력하세요(종료 시 -1 입력):97
성적을 입력하세요(종료 시 -1 입력):-1
합계 : 436, 평균:87.20

In [ ]:
#Q5-10
seats=[[0,0,0,0,0,0,0,0,0,0],\
     [0,0,0,0,0,0,0,0,0,0],\
     [0,0,0,0,0,0,0,0,0,0],\
     [1,1,1,0,0,0,0,0,1,0],\
     [0,0,0,0,0,1,0,0,0,0],\
     [0,1,0,0,0,1,0,1,0,0],\
     [0,0,0,0,0,0,1,0,0,0],\
     [1,0,1,0,0,0,0,0,0,1]]

for i in range(len(seats)):
  for j in range(len(seats[i])):

# 리스트 표현식

In [18]:
a=[]
for i in range(1,6):
    a.append(i*i)
print(a)

[1, 4, 9, 16, 25]

In [20]:
a=[i*i for i in range(1,6)]
print(a)

[1, 4, 9, 16, 25]

In [19]:
b=[]
for i in range(1,10,2):
    b.append(i*i)
print(b)

[1, 9, 25, 49, 81]

In [23]:
b=[i*i for i in range(1,10) if i % 2 ==1]
print(b)

[1, 9, 25, 49, 81]

In [26]:
gugudan = [i*k for i in range(2,10)
               for k in range(1,10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [27]:
'i love you.'.split(' ')

['i', 'love', 'you.']