# chapter6

In [4]:
#6-1
menu=('coffee','milk','tea','cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [8]:
#6-1-2
tuple1 = ('apple','banana','cherry')
tuple2 = ('orange','melon','strawberry')

tuple3 = tuple1 + tuple2 
print(tuple3)

print(len(tuple3))

for x in tuple1:
    print(x)
    
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [9]:
#튜플 책에 없는것
# adds=(1, 3, 5, 7, 9)

odds = tuple(range(1,10,2))
print(odds)

(1, 3, 5, 7, 9)

In [10]:
# 표현식 (1,4,9,16,25)
squares = tuple(i*i for i in range(1,6))
print(squares)

(1, 4, 9, 16, 25)

In [11]:
# 표현식 (1,9,25,49,81)
odd_squares = tuple(i*i for i in range(1,10) if i%2 == 1)
print(odd_squares)

(1, 9, 25, 49, 81)

# 시퀀스

In [13]:
# 특정 값이 있는지 확인하기
a =[0,10,20,30,40,50,60,70,80,90]
print(30 in a)
print(100 in a)

True
False

In [15]:
print(100 not in a)
print(30 not in a)

True
False

In [16]:
43 in (38, 76, 43, 62, 19)

True

In [17]:
1 in range(10)

True

In [18]:
'P' in 'Hello, Python'

True

In [19]:
# 시퀀스 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a + b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [21]:
print((1,2,3) + (10,20,30))
print('Hello'+' '+'World')

(1, 2, 3, 10, 20, 30)
Hello World

In [22]:
range(1,10) + range(10,20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [23]:
tuple(range(1,10)) + tuple(range(10,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [24]:
# 문자열과 숫자 연결
'Python' +3

TypeError: can only concatenate str (not "int") to str

In [25]:
'python' + str(3)

'python3'

In [27]:
# 시컨스 객체 반복하기 => 순서는 상관없다.
print([1,2,3]*3)
print(3*[1,2,3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
print((1,2,3)*3)
print('python ' * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
python python python

range(1,5)*3

In [32]:
list(range(1,5))*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [36]:
a=(11,22,33,44,55,66,77,88,99)
print(a[0:9:4])
print(a[::4])

(11, 55, 99)
(11, 55, 99)

# Dictionary

In [37]:
# 6-2
members={'name':'안지영','age':30,'email':'jiyoung@korea.com'}
         
print(members)
print(members['name'])
print(members['age'])
         
print('길이 : %d'% len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [41]:
# 6-4
name='안진영'
scores={'kor':95,'eng':85, 'math':90, 'science':80}
print(scores)

scores['kor']=70
print(scores['kor'])

scores['music']=100
print(scores)

del scores['science']
print(scores)

print('이름 : %s'% name)
print('국어 : %d'% scores['kor'])
print('영어 : %d'% scores['eng'])
print('수학 : %d'% scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [42]:
# 6-5
phones={'갤럭시 노트8':2017, '갤럭시 S9':2018,'갤럭시 노트10':2019,'갤럭시 S20':2020}
print(phones)

for key in phones:
    print('%s=>%s'%(key, phones[key]))
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8=>2017
갤럭시 S9=>2018
갤럭시 노트10=>2019
갤럭시 S20=>2020
4

In [60]:
# Q6-3

scores = {'김예진':90, '박영진':95, '김소회':84}

sum=0
for key in scores:
    sum+=scores[key]
    
    print('%s : %d'%(key, scores[key]))

avg=sum/len(scores)

print('합계 : %d, 평균 : %.2f'%(sum,avg))

김예진 : 90
박영진 : 95
김소회 : 84
합계 : 269, 평균 : 89.67

In [56]:
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [58]:
'health' in lux1

True

In [61]:
##집합(set)
fruit ={'strawberry','grape','orange','pineapple','cherry'}
fruit

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [62]:
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}