# chapter 07 함수

In [1]:
# 7-1
def hello():
    print('안녕하세요')
    
hello()
hello()
hello()

안녕하세요
안녕하세요
안녕하세요

In [2]:
# 7-2
def even_odd(num):
    if num % 2 == 0:
        print('%d은(는) 짝수.'% num)
    else :
        print('%d은(는) 홀수.'% num)
        
even_odd(7)
even_odd(16)

7은(는) 홀수.
16은(는) 짝수.

In [3]:
def add_sub(num1, num2):
    print('덧셈', num1+num2)
    print('뺄셈', num1-num2)
    
add_sub(2, 3)

덧셈 5
뺄셈 -1

In [4]:
# 7-3
def favorate_color(name, color, amount):
    if(amount ==1):
        print('%s님은 %s을 좋아하지 않습니다.'%(name, color))
    elif(amount ==2):
        print('%s님은 %s을 조금 좋아합니다..'%(name, color))
    else:
         print('%s님은 %s을 매우 좋아합니다.'%(name, color))
            
favorate_color('김지영','빨강',1)
favorate_color('홍채영','노랑',2)
favorate_color('진소진','파랑',2)

김지영님은 빨강을 좋아하지 않습니다.
홍채영님은 노랑을 조금 좋아합니다..
진소진님은 파랑을 조금 좋아합니다..

In [5]:
# 7-4
def average(*scores):
    sum=0
    for i in range(len(scores)):
        sum += scores[i]
        
    avg = sum/len(scores)
    print('%d과목의 평균 : %.2f'%(len(scores),avg))
    
average(80,90,100)
average(75,80,94,78)
average(80,73,76,86,82)

3과목의 평균 : 90.00
4과목의 평균 : 81.75
5과목의 평균 : 79.40

In [6]:
# 7-4
def average(*scores):
    print(scores)
    sum=0
    for score in scores:
        sum +=score
    avg = sum / len(scores)
    print('%d과목의 평균 : %.2f'%(len(scores), avg))

In [7]:
average(80,90,100)

(80, 90, 100)
3과목의 평균 : 90.00

In [8]:
average(80,73,76,86,82)

(80, 73, 76, 86, 82)
5과목의 평균 : 79.40

In [9]:
# 7-7 표준함수
def circle(radius):
    area = 3.14*radius*radius
    return area

In [ ]:
radius = int(input('원의 반지름을 입력하세요:'))
result = circle(radius)
print('반지름 : %d, 원의 면적 : %.2f'%(radius, result))

In [ ]:
def new_circle(radius):
    area = 3.14*radius*radius
    circum = 2*3.14*radius
    return area, circum

In [ ]:
radius = int(input('원의 반지름을 입력하세요:'))
res1, res2 = new_circle(radius)
print('반지름 :%d, 원의 면적 : %.2f, 원의 둘레 : %.2f'%(radius, res1, res2))

In [ ]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [ ]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

In [ ]:
 personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

In [1]:
# Q7-1
def sum(start, end):
    total=0
    for i in range(start, end+1):
        total +=i
    print('%d ~ %d의 정수 합계 : %d'%(start, end, total))
    
sum(10,100)
sum(100,1000)
sum(1000,10000)

10 ~ 100의 정수 합계 : 5005
100 ~ 1000의 정수 합계 : 495550
1000 ~ 10000의 정수 합계 : 49505500

In [ ]:
# Q7-2
def sum_besu(n1, n2, num):
    sum=0
    for i in range(n1, n2+1):
        if i % num == 0:
          sum += i
    
    return sum

start = int(input('시작 수를 입력하세요:'))
end = int(input('끝 수를 입력하세요:'))
besu = int(input('합계를 구할 배수를 입력하세요:'))

result = sum_besu(start, end, besu)

print('%d ~ %d의 정수 중 %d의 배수의 합 : %d'%(start, end, besu, result))

In [ ]:
x = {'name': '홍길동', 'age': '30', 'address': '서울시 용산구 이촌동'}
personal_info(**x)

In [ ]:
# tuple unpacking
y=(70,80,90,95)
average(*y)

In [ ]:
# 키워드형 가변인수
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw,':', val, sep='')

In [ ]:
x = {'name': '홍길동', 'age': '30', 'address': '서울시 용산'}
personal_info(**x)

In [ ]:
#위치형 가변인수 +키워드형 가변인수
def custom_print(*args, **kwargs):
     print(*args, **kwargs)

In [ ]:
custom_print(1, 2, 3, sep=':', end='='*10)

In [2]:
# 7-3
def computeMaxGong(x, y):
    if x > y:
        small = y
    else:
        small = x
        
    for i in range(1, small+1):
        if((x % i == 0)and (y % i == 0)):
            result = i
    return result
    
num1= int(input("첫 번째 수를 입력하세요:"))
num2= int(input("두 번째 수를 입력하세요:"))

max_gong = computeMaxGong(num1, num2)

print('%d과(와) %d의 최대공약수 : %d'% (num1, num2, max_gong))

첫 번째 수를 입력하세요:33
두 번째 수를 입력하세요:44
33과(와) 44의 최대공약수 : 11

In [2]:
# 완전수 구하기
N = int(input("Input a natural number: ")) 
result = [] 
for i in range(1, N+1):
    sum = 0
    for j in range(1, i): 
        if i%j==0:  
            sum += j 

    if i == sum:  
        result.append(i)

print(result)

Input a natural number: 10000
[6, 28, 496, 8128]

In [4]:
# 완전수 구하기
def sum_yaksu(n):
    sum=0
    for i in range(1,n):
        if n % i == 0:
            sum +=i
    return sum

In [5]:
for num in range(1,10001):
    if num == sum_yaksu(num):
        print(num)

6
28
496
8128

In [6]:
# 7-10
def func():
    x = 10
    print(x)
    
func()
print(x)

10

NameError: name 'x' is not defined

In [7]:
# 7-11
def func():
    x = 100
    print(x)
    print(id(x))
    
x = 10
print(x)
print(id(x))

func()

print(x)
print(id(x))

10
140729886745264
100
140729886748144
10
140729886745264

In [11]:
# 7-13
def func():
    global xxx
    xxx = 100
    print(xxx)
    print(id(xxx))
    
x = 10
print(xxx)
print(id(xxx))
func()
print(xxx)
print(id(xxx))

100
140729886748144
100
140729886748144
100
140729886748144

# file 입출력

In [12]:
# 7-14
file = open('sample.txt','w', encoding='utf8')
file.write('안녕하세요.반갑습니다.')
file.close()
print('파일 쓰기 완료!')

파일 쓰기 완료!

In [14]:
# 7-15
scores = ['김소영 82 80 93 97 93 88',
          '정예린 86 100 93 86 90 77',
          '이세영 91 88 99 79 92 68',
          '정수정 86 100 93 89 92 93',
          '박지수 80 100 95 89 90 84']

data="
for item in scores :
    data +=item + '\n'
    
# 화면 출력하기
print(data)

# 파일(scores,txt)에 저장하기
file = open('scores.txt', 'w', encoding='utf8)
file.write(data)
file.close()

SyntaxError: EOL while scanning string literal (<ipython-input-14-2bc6efef7f8b>, line 8)