# SQLite3 훈련

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')    # sqlite3 파일 불러오기

In [23]:
cur = conn.cursor()                  # 객체 생성
cur.execute("SELECT * FROM eagles")  # 실행문 입력
rows = cur.fetchall()                # 데이터 가져오기

In [24]:
rows

[(1, 22, '이태양', '투수'),
 (3, 13, '최재훈', '포수'),
 (4, 3, '노태형', '내야수'),
 (5, 19, '이용규', '외야수'),
 (9, 4, '조한민', '내야수'),
 (10, 6, '오선진', '내야수'),
 (11, 7, '송광민', '내야수'),
 (12, 8, '노시환', '내야수'),
 (13, 9, '이동훈', '외야수'),
 (14, 10, '장은호', '외야수'),
 (15, 1, '신정락', '투수'),
 (16, 5, '윤대경', '투수'),
 (17, 57, '정우람', '투수'),
 (18, 38, '안영명', '투수'),
 (20, 2, '하주석', '내야수'),
 (21, 2, '하주석', '내야수'),
 (22, 25, '최진행', '외야수')]

In [5]:
cur.execute("SELECT * FROM eagles WHERE position='투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(15, 1, '신정락', '투수')
(16, 5, '윤대경', '투수')
(17, 57, '정우람', '투수')
(18, 38, '안영명', '투수')

## 데이터 추가

In [16]:
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(2, '하주석','내야수')")

In [20]:
cur.execute("SELECT * FROM eagles WHERE position='내야수'")   # 내야수 db만 볼수 있음
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 3, '노태형', '내야수')
(9, 4, '조한민', '내야수')
(10, 6, '오선진', '내야수')
(11, 7, '송광민', '내야수')
(12, 8, '노시환', '내야수')
(20, 2, '하주석', '내야수')
(21, 2, '하주석', '내야수')

In [18]:
# DB에 반영
conn.commit()        # db에 반영할 수 있음

In [22]:
# 파라메터 : 튜플을 사용해서 전달  # 프로그램 사용방법
back_no = 25
name = '최진행'
position = '외야수'
sql = 'INSERT INTO eagles(back_no, name, position) VALUES(?, ?, ?)'
cur.execute(sql, (back_no, name, position))
conn.commit()

In [25]:
# 튜플 리스트 사용 # 프로그램 사용방법 ****************************
players = [(38, '안영명', '투수'), (54, '서균', '투수')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [26]:
# exeutemany() 사용 # 프로그램 사용방법
players = [(48, '벨', '투수'), (53, '김민우', '투수')]
cur.executemany(sql, players)
conn.commit()

## 데이터 조회

In [27]:
# 순회 조회
sql = " select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(3, 13, '최재훈', '포수')

In [28]:
# 한 건 조회 *********************************************
cur.execute(sql)
result = cur.fetchone()
print(result)

(3, 13, '최재훈', '포수')

In [29]:
# 한번더 하면 다음 데이터를 한건만 조회한다.
result = cur.fetchone()    
print(result)

None

In [30]:
# 갯수 지정 조회
sql = " select * from eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (15, 1, '신정락', '투수'), (16, 5, '윤대경', '투수')]

In [34]:
# 전부 조회 ********************************************
sql = " select * from eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()
results

[(4, 3, '노태형', '내야수'),
 (9, 4, '조한민', '내야수'),
 (10, 6, '오선진', '내야수'),
 (11, 7, '송광민', '내야수'),
 (12, 8, '노시환', '내야수'),
 (21, 2, '하주석', '내야수')]

In [36]:
# 필요한 컬럼만 조회        # 20번 이상 선수들만 조회
sql = " select back_no, name from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (57, '정우람'),
 (38, '안영명'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (53, '김민우')]

In [39]:
# 백넘버가 20 ~ 29까지인 선수
sql = " select * from eagles where back_no between 20 and 29"
cur.execute(sql)
results = cur.fetchall()
results

[(1, 22, '이태양', '투수'), (22, 25, '최진행', '외야수')]

In [41]:
# 백넘버가 가장 큰 번호를 갖는 선수는?
sql = " select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result = cur.fetchone()
result

(17, 57, '정우람', '투수')

In [44]:
# 포지션별 사람수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 6), ('외야수', 4), ('투수', 9), ('포수', 1)]

## 데이터 검색

In [45]:
# back_no 가 57번인 선수는?
back_no = 57 
sql = "select * from eagles where back_no =?"
cur.execute(sql, back_no)
result = cur.fetchone()
result

ValueError: parameters are of unsupported type

In [46]:
cur.execute(sql, (back_no,))
result = cur.fetchone()
result

(17, 57, '정우람', '투수')

## 데이터 변경

In [50]:
# id 21인 하주석 선수의 표지션을 외야수로 변경
id_ = 21
position ='외야수'
sql = "UPDATE eagles SET position =  ? WHERE id = ?"
cur.execute(sql, (position, id))
conn.commit()

In [52]:
## 데이터 삭제
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id_,))
conn.commit()