## 1. 시카고 샌드위치 맛집 사이트에 접근하기

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [2]:
url_base = 'http://www.chicagomag.com'
url_sub = '/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/'
url = url_base + url_sub

html = urlopen(url)
soup = BeautifulSoup(html, 'html.parser')

In [3]:
rest_list = soup.find_all(class_='sammy')
rest_list[0]

<div class="sammy" style="position: relative;">
<div class="sammyRank">1</div>
<div class="sammyListing"><a href="/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/"><b>BLT</b><br>
Old Oak Tap<br>
<em>Read more</em> </br></br></a></div>
</div>

In [4]:
len(rest_list)

50

## 2. 접근한 웹 페이지에서 원하는 데이터 추출하고 정리하기

In [5]:
tmp_one = rest_list[0]

In [6]:
tmp_one.find(class_='sammyRank')

In [7]:
tmp_one.find(class_='sammyRank').get_text()

'1'

In [8]:
tmp_one.find(class_='sammyListing').get_text()

'BLT\r\nOld Oak Tap\nRead more '

In [9]:
tmp_one.find('a')['href']    # 주소찾기

'/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [10]:
tmp_str = tmp_one.find(class_='sammyListing').get_text()
tmp_str.split('\n')

['BLT\r', 'Old Oak Tap', 'Read more ']

In [11]:
tmp_res = tmp_str.split('\n')
menu = tmp_res[0].replace('\r','')
menu

'BLT'

In [12]:
cafe = tmp_res[1]
cafe

'Old Oak Tap'

In [13]:
# Regular Expression
import re

re.split(('\n|\r\n'), tmp_str)

In [14]:
print(re.split(('\n|\r\n'), tmp_str)[0])
print(re.split(('\n|\r\n'), tmp_str)[1])

BLT
Old Oak Tap

In [15]:
from urllib.parse import urljoin

In [16]:
# 데이터 프레임 만들기 전에 항목 데이터 구하기
rank = []
main_menu = []
cafe_name = []
url_add = []

for rest in rest_list:
    rank.append(int(rest.find(class_='sammyRank').get_text()))
    tmp_str = rest.find(class_='sammyListing').get_text()
    main_menu.append(re.split(('\n|\r\n'), tmp_str)[0])
    cafe_name.append(re.split(('\n|\r\n'), tmp_str)[1])
    url_add.append(urljoin(url_base, rest.find('a')['href']))

In [17]:
rank[:5]

[1, 2, 3, 4, 5]

In [18]:
main_menu[:5]

['BLT', 'Fried Bologna', 'Woodland Mushroom', 'Roast Beef', 'PB&L']

In [19]:
cafe_name[:5]

['Old Oak Tap', 'Au Cheval', 'Xoco', 'Al’s Deli', 'Publican Quality Meats']

In [20]:
url_add[-5:]

['http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Chickpea-Kufta/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-The-Goddess-and-Grocer-Debbies-Egg-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Zenwich-Beef-Curry/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Toni-Patisserie-Le-Vegetarien/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Phoebes-Bakery-The-Gatsby/']

In [21]:
# 데이터 프레임으로 만들기
import pandas as pd
df = pd.DataFrame({'rank' : rank, 'cafe' : cafe_name,'menu' : main_menu, 'URL': url_add })
df.head()

,rank,cafe,menu,URL
0,1,Old Oak Tap,BLT,http://www.chicagomag.com/Chicago-Magazine/Nov...
1,2,Au Cheval,Fried Bologna,http://www.chicagomag.com/Chicago-Magazine/Nov...
2,3,Xoco,Woodland Mushroom,http://www.chicagomag.com/Chicago-Magazine/Nov...
3,4,Al’s Deli,Roast Beef,http://www.chicagomag.com/Chicago-Magazine/Nov...
4,5,Publican Quality Meats,PB&L,http://www.chicagomag.com/Chicago-Magazine/Nov...

In [22]:
url_add

['http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Hendrickx-Belgian-Bread-Crafter-Belgian-Chicken-Curry-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Acadia-Lobster-Roll/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Birchwood-Kitchen-Smoked-Salmon-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Cemitas-Puebla-Atomica-Cemitas/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Nana-Grilled-Laughing-Bird-Shrimp-and-Fried-Oyster-Po-Boy/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Lula-Cafe-Ham-and-Raclette-Panino/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Ricobenes-Breaded-Steak/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Frog-n-Snail-The-Hawkeye/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Crosbys-Kitchen-Chicken-Dip/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Longman-and-Eagle-Wild-Boar-Sloppy-Joe/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Bari-Meatball-Sub/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Mannys-Corned-Beef/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Eggys-Turkey-Club/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Jerusalem-Falafel/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Mindys-HotChocolate-Crab-Cake/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Olgas-Delicatessen-Chicken-Schnitzel/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Dawali-Mediterranean-Kitchen-Shawarma/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Big-Jones-Toasted-Pimiento-Cheese/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-La-Pane-Vegetarian-Panino/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Pastoral-Cali-Chevre/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Maxs-Deli-Pastrami/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Luckys-Sandwich-Co-The-Fredo/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-City-Provisions-Smoked-Ham/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Papas-Cache-Sabroso-Jibarito/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Bavettes-Bar-and-Boeuf-Shaved-Prime-Rib/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Hannahs-Bretzel-Serrano-Ham-and-Manchego-Cheese/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-La-Fournette-Tuna-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Paramount-Room-Paramount-Reuben/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Melt-Sandwich-Shoppe-The-Istanbul/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Floriole-Cafe-and-Bakery-BAD/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-First-Slice-Pie-Cafe-Duck-Confit-and-Mozzarella/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Troquet-Croque-Monsieur/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Grahamwich-Green-Garbanzo/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Saigon-Sisters-The-Hen-House/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Rosalias-Deli-Tuscan-Chicken/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Z-and-H-MarketCafe-The-Marty/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Market-House-on-the-Square-Whitefish/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Elaines-Coffee-Call-Oat-Bread-Pecan-Butter-and-Fruit-Jam/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Marion-Street-Cheese-Market-Cauliflower-Melt/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Cafecito-Cubano/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Chickpea-Kufta/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-The-Goddess-and-Grocer-Debbies-Egg-Salad/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Zenwich-Beef-Curry/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Toni-Patisserie-Le-Vegetarien/',
 'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Phoebes-Bakery-The-Gatsby/']

In [23]:
df.to_csv('chicago1.csv', sep=',', encoding='UTF-8')   # csv 저장방법

## 3. 다수의 웹 페이지에 자동으로 접근해서 원하는 정보 가져오기

In [24]:
df['URL'][0]

'http://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [25]:
html = urlopen(df['URL'][0])
soup_tmp = BeautifulSoup(html, 'html.parser')
#soup_tmp

In [26]:
soup_tmp.find(class_='addy')

<p class="addy">
<em>$10. 2109 W. Chicago Ave., 773-772-0406, <a href="http://www.theoldoaktap.com/">theoldoaktap.com</a></em></p>

In [27]:
tmp_str = soup_tmp.find(class_='addy').get_text()
tmp_str

'\n$10. 2109 W. Chicago Ave., 773-772-0406, theoldoaktap.com'

In [28]:
tmp_str.split()

['$10.', '2109', 'W.', 'Chicago', 'Ave.,', '773-772-0406,', 'theoldoaktap.com']

In [29]:
tmp_price = tmp_str.split()[0][:-1]  # 뒤에 점 제거 
tmp_price

'$10'

In [30]:
tmp_str.split()[1:-2]

['2109', 'W.', 'Chicago', 'Ave.,']

In [31]:
' '.join(tmp_str.split()[1:-2])  # ''join 한칸씩 뛰어서 표현해라

'2109 W. Chicago Ave.,'

In [32]:
tmp_addr = ' '.join(tmp_str.split()[1:-2])[:-1]  # [:-1] 뒤에 점 제거
tmp_addr

'2109 W. Chicago Ave.'

### 상태 진행바 적용

In [33]:
from tqdm import tqdm_notebook
import time

In [34]:
price = []
addr = []
for n in tqdm_notebook(df.index):
    html = urlopen(df['URL'][n])
    soup_tmp = BeautifulSoup(html, 'html.parser')
    tmp_str = soup_tmp.find(class_='addy').get_text()
    
    price.append(tmp_str.split()[0][:-1])
    addr.append(' '.join(tmp_str.split()[1:-2])[:-1])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  This is separate from the ipykernel package so we can avoid doing imports until

HBox(children=(FloatProgress(value=0.0, max=50.0), HTML(value='')))

In [42]:
price[:10]

['$10', '$9', '$9.50', '$9.40', '$10', '$7.25', '$16', '$10', '$9', '$17']

In [43]:
addr[:5]

['2109 W. Chicago Ave.',
 '800 W. Randolph St.',
 '445 N. Clark St.',
 '914 Noyes St., Evanston',
 '825 W. Fulton Mkt.']

In [55]:
#del df['URL']
df

,cafe,menu,price,address
rank,,,,
1,Old Oak Tap,BLT,$10,2109 W. Chicago Ave.
2,Au Cheval,Fried Bologna,$9,800 W. Randolph St.
3,Xoco,Woodland Mushroom,$9.50,445 N. Clark St.
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston"
5,Publican Quality Meats,PB&L,$10,825 W. Fulton Mkt.
6,Hendrickx Belgian Bread Crafter,Belgian Chicken Curry Salad,$7.25,100 E. Walto
7,Acadia,Lobster Roll,$16,1639 S. Wabash Ave.
8,Birchwood Kitchen,Smoked Salmon Salad,$10,2211 W. North Ave.
9,Cemitas Puebla,Atomica Cemitas,$9,3619 W. North Ave.
10,Nana,Grilled Laughing Bird Shrimp and Fried Po’ Boy,$17,3267 S. Halsted St.
11,Lula Cafe,Ham and Raclette Panino,$11,2537 N. Kedzie Blvd.
12,Ricobene’s,Breaded Steak,$5.49,Multipl
13,Frog n Snail,The Hawkeye,$14,3124 N. Broadway
14,Crosby’s Kitchen,Chicken Dip,$10,3455 N. Southport Ave.
15,Longman & Eagle,Wild Boar Sloppy Joe,$13,2657 N. Kedzie Ave.
16,Bari,Meatball Sub,$4.50,1120 W. Grand Ave.
17,Manny’s,Corned Beef,$11.95,1141 S. Jefferson St.
18,Eggy’s,Turkey Club,$11.50,333 E. Benton Pl.
19,Old Jerusalem,Falafel,$6.25,1411 N. Wells St.
20,Mindy’s HotChocolate,Crab Cake,$15,1747 N. Damen Ave.
21,Olga’s Delicatessen,Chicken Schnitzel,$5,3209 W. Irving Par
22,Dawali Mediterranean Kitchen,Shawarma,$6,Multipl
23,Big Jones,Toasted Pimiento Cheese,$8,5347 N. Clark St.
24,La Pane,Vegetarian Panino,$5.99,2954 W. Irving Park Rd.
25,Pastoral,Cali Chèvre,$7.52,Multipl
26,Max’s Deli,Pastrami,$11.95,"191 Skokie Valley Rd., Highland Park"
27,Lucky’s Sandwich Co.,The Fredo,$7.50,Multipl
28,City Provisions,Smoked Ham,$12.95,1818 W. Wilson Ave.
29,Papa’s Cache Sabroso,Jibarito,$7,2517 W. Division St.
30,Bavette’s Bar & Boeuf,Shaved Prime Rib,$21,218 W. Kinzi
31,Hannah’s Bretzel,Serrano Ham and Manchego Cheese,$9.79,Multipl
32,La Fournette,Tuna Salad,$9.75,1547 N. Wells St.
33,Paramount Room,Paramount Reuben,$13,415 N. Milwaukee Ave.
34,Melt Sandwich Shoppe,The Istanbul,$7.95,1840 N. Damen Ave.
35,Floriole Cafe & Bakery,B.A.D.,$9,1220 W. Webster Ave.
36,First Slice Pie Café,Duck Confit and Mozzarella,$9,5357 N. Ashland Ave.
37,Troquet,Croque Monsieur,$8,1834 W. Montrose Ave.
38,Grahamwich,Green Garbanzo,$8,615 N. State St.
39,Saigon Sisters,The Hen House,$7,Multipl
40,Rosalia’s Deli,Tuscan Chicken,$6,"241 N. York Rd., Elmhurst"
41,Z&H MarketCafe,The Marty,$7.25,1323 E. 57th St.
42,Market House on the Square,Whitefish,$11,"655 Forest Ave., Lake Forest"
43,Elaine’s Coffee Call,"Oat Bread, Pecan Butter, and Fruit Jam",$6,"Hotel Lincoln, 1816 N. Clark St."
44,Marion Street Cheese Market,Cauliflower Melt,$9,"100 S. Marion St., Oak Park"
45,Cafecito,Cubana,$5.49,26 E. Congress Pkwy.
46,Chickpea,Kufta,$8,2018 W. Chicago Ave.
47,The Goddess and Grocer,Debbie’s Egg Salad,$6.50,25 E. Delaware Pl.
48,Zenwich,Beef Curry,$7.50,"416 N. York St., Elmhurst"
49,Toni Patisserie,Le Végétarien,$8.75,65 E. Washington St.
50,Phoebe’s Bakery,The Gatsby,$6.85,3351 N. Broadway

In [53]:
df.set_index("rank", inplace=True)

In [57]:
df.to_csv('chicago2.csv', sep=',', encoding='UTF-8')